#### 투자배수와 연평균성장율(CARG)에 대하여 알아보기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn-v0_8")

In [2]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = ["Date"])
msft

              Price  Returns
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
2014-10-07  45.5300  -0.0122
...             ...      ...
2024-02-12 415.2600  -0.0126
2024-02-13 406.3200  -0.0215
2024-02-14 409.4900   0.0078
2024-02-15 406.5600  -0.0072
2024-02-16 404.0600  -0.0061

[2361 rows x 2 columns]

#### **Investment Multiple:** Ending Value of 1[dollar] invested.
#### Multiple = Ending Value / Initial Investment

여기서 "Ending Value of 1[dollar] invested"는 1달러를 투자한 후의 종료 값(Ending Value)을 나타낸다. 즉, 초기에 1달러를 투자했을 때, 해당 투자가 얼마나 성공적으로 성장했는지를 의미한다. 
그리 "Multiple = Ending Vale/ Initial Investmet"은 투자 배수를 계산하는 방법설명한다.다. 여기 "Ending Vale"는 투자의 종료 값이고 "Initial Investmet"는 초기 투자의 가치를 낸다.다. 투자 배수는 종료 값을 초기 투자의 가치로 나눈 것으로, 투자가 얼마나 성공적으로 성장했는 표 표는 지표이다..

예를 들어, 투자 배수가 2이면, 초기에 1달러를 투자했을 때 종료 값은 2달러가 되었음한다.합니다. 따라서 해당 투자는 2배로 성장했다고 할다.습니다.

In [3]:
multiple = (msft.Price.iloc[-1]/ msft.Price.iloc[0])
multiple
#현재금액이 설정한 초기 금액의 몇배인지 알 수 있다.

8.803049763098166

In [4]:
(multiple - 1) * 100
# 상승률 780% 상승했음을 의미

780.3049763098165

In [5]:
msft.Price / msft.Price.iloc[0]

Date
2014-10-01   1.0000
2014-10-02   0.9969
2014-10-03   1.0041
2014-10-06   1.0041
2014-10-07   0.9919
              ...
2024-02-12   9.0471
2024-02-13   8.8523
2024-02-14   8.9214
2024-02-15   8.8575
2024-02-16   8.8030
Name: Price, Length: 2361, dtype: float64

In [6]:
start = msft.index[0]
start

Timestamp('2014-10-01 00:00:00')

In [7]:
end = msft.index[-1]
end

Timestamp('2024-02-16 00:00:00')

In [8]:
td = end - start 
td

Timedelta('3425 days 00:00:00')

In [9]:
td_years = td.days / 365.25
td_years

9.377138945927447

In [12]:
carg = multiple**(1 / td_years) - 1 #간단한 버전
carg #연평균 성장률 => 26.1%

0.2610662020925356

In [13]:
carg2 = (msft.Price.iloc[-1]/msft.Price.iloc[0])**(1/((msft.index[-1] - msft.index[0]).days / 365.25)) - 1
carg2

0.2610662020925356

In [14]:
(1 + carg) ** (td_years)

8.803049763098164

In [15]:
#일일 수익률을 모두 다 더하는 방법
multiple = (1 + msft.Returns).prod()
multiple

8.803049763098581

In [16]:
n = msft.Returns.count()
n

2360

In [20]:
geo_mean = multiple**(1/n) - 1
geo_mean * 100

0.09220766419608672

In [18]:
mu = msft.Returns.mean()
mu

0.0010729173440234417

In [19]:
(1 + mu) ** n

12.562642685424924