In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [2]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = ["Date"])

In [14]:
msft["log_ret"] = np.log(msft.Price / msft.Price.shift())
msft

                Price   Returns   log_ret
Date
2014-10-01  45.900002       NaN       NaN
2014-10-02  45.759998 -0.003050 -0.003055
2014-10-03  46.090000  0.007212  0.007186
2014-10-06  46.090000  0.000000  0.000000
2014-10-07  45.529999 -0.012150 -0.012225
...               ...       ...       ...
2024-02-12 415.260010 -0.012579 -0.012658
2024-02-13 406.320007 -0.021529 -0.021764
2024-02-14 409.489990  0.007802  0.007771
2024-02-15 406.559998 -0.007155 -0.007181
2024-02-16 404.059998 -0.006149 -0.006168

[2361 rows x 3 columns]

### **Investment Multiple**

In [11]:
msft.Returns.add(1).prod() #단순 수익률을 활용하여 합산하기 투자배수는 8.83

8.803049763098581

In [13]:
#exp()함수에 로그 수익율의 합산값을 넣어 자연상수에 거듭제곱하기
np.exp(msft.log_ret.sum())

8.803049763098118

### **Normalized Prices with Base 1**

In [15]:
msft.Returns.add(1).cumprod() #단순 수익률의 누적 곱을 나타내는 함수 cumprod()

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2024-02-12   9.047059
2024-02-13   8.852287
2024-02-14   8.921350
2024-02-15   8.857516
2024-02-16   8.803050
Name: Returns, Length: 2361, dtype: float64

In [17]:
np.exp(msft.log_ret.cumsum()) #로그 수익률의 누적합을 나타내는 함수 cumsum()

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2024-02-12   9.047059
2024-02-13   8.852287
2024-02-14   8.921350
2024-02-15   8.857516
2024-02-16   8.803050
Name: log_ret, Length: 2361, dtype: float64

In [18]:
msft.log_ret.cumsum().apply(np.exp)

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2024-02-12   9.047059
2024-02-13   8.852287
2024-02-14   8.921350
2024-02-15   8.857516
2024-02-16   8.803050
Name: log_ret, Length: 2361, dtype: float64

### CAGR

In [23]:
(msft.Price.iloc[-1]/msft.Price.iloc[0])**(1/((msft.index[-1] - msft.index[0]).days / 365.25)) -1
#기존의 단순 수익율을 활용하여 구했던 연평균 성장률 공식

0.2610662020925356

In [30]:
#대안으로 일일 로그 수익률의 평균을 사용하여 연평균 수익율을 계산할 수 있다.
#그러기 위해서는 각 해의 거래일을 알아야한다. 연간 평균 거래일 계산하기. msft.Returns.count()는 단순수익률이 나타나는 행의 개수 구하기 -> 거래일
trading_days_year = msft.Returns.count() / ((msft.index[-1] - msft.index[0]).days / 365.25)
trading_days_year

251.67591240875913

In [31]:
np.exp(msft.log_ret.mean() * trading_days_year) - 1  
#exp()함수에 로그수익률의 평균과 연간 평균 거래일을 곱한 값을 넣어 계산해준다

0.26106620209253495

In [32]:
msft.Returns.mean() * trading_days_year #단순 수익율로는 정확한 값을 구할 수 없다!!!!!

0.2700274514962822