로그 수익률이 단순 수익률보다 유용하게 쓰이는 몇 가지 이유가 있다.

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6}'.format

In [2]:
df = pd.DataFrame(data = [100, 50 , 90], columns = ["Price"])
df

   Price
0    100
1     50
2     90

In [3]:
df["SR"] = df.Price.pct_change() # 단순 수익률

In [4]:
df["LR"] = np.log(df.Price / df.Price.shift())

In [5]:
df

   Price   SR        LR
0    100  NaN       NaN
1     50 -0.5 -0.693147
2     90  0.8  0.587787

In [6]:
periods = df.SR.count()
periods

2

In [7]:
#단순 수익율의 산술평균으로 넘어가보자
mean_sr = df.SR.mean()
mean_sr
#놀랍게도 결과는 + 15% 그러니까 1년에 천원을 잃어도 이 산술평균 수익률은 +15%니 굉장히 혼란스럽다.
#왜냐면 (-50%) (+80%) 단순히 이렇게만 계산되어있는데 -50%는 기준치가 100이었고 80%는 기준치가 50이었기때문이다
#단순 수익률은 이 변화와 기존 베이스를 고려하지 않아서 굉장히 혼동을 주는 산술평균이 나온다

0.15000000000000002

In [8]:
#그러므로 전에 배웠듯이 추가 계산에는 단순 수익률의 산술평균을 사용할 수 없다!!!!!!!!!!!!!
100 * (1 + mean_sr) ** periods
# 90이 나와야하는데 132가 나옴

132.24999999999997

In [9]:
#산술평균 대신 단순 수익률을 합산해 기하 평균을 도출할 수 있다.
#prod() -> 모든 해당되는 수를 곱함
geo_mean = (1 + df.SR).prod() ** (1 / periods) - 1
geo_mean

-0.05131670194948623

In [11]:
100 * (1 + geo_mean) ** periods #correct!!!!!!
#2년에 걸쳐 10달러를 잃었고 기하 평균은 -5%인 것이다.

89.99999999999999

In [14]:
#로그 수익률의 총 합산한 가격
sum_lr = df.LR.sum()
sum_lr

-0.10536051565782623

In [15]:
100 * np.exp(sum_lr)

90.0

In [18]:
mean_lr = df.LR.mean()
mean_lr

-0.05268025782891311

In [19]:
100 * np.exp(mean_lr * periods)

90.0